body{
    background-image: url(https://wallpaperaccess.com/full/356397.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /*margen*/
    margin: 0;
    /*margen pa dentro*/
    padding: 0;
    /*tamaño de la letra*/
    font-size: 20px;
    /*tipografia*/
    font-family: Arial, Helvetica, sans-serif;

}

/**********************************************/
/****************************************/
/********************************/
/* Navegación */

header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: end;
}

header nav .nav-right-section{
    width: 250px;
    /* eliminar viñetas*/
    list-style: none;
    /*flexibilidad a nuestro componente*/
    display: flex;
    /*Centramos horizontalmente*/
    justify-content: center;
    /* centramos verticalmente la lista*/
    align-items: center;
}

a{
    /*Elimina Linea debajo*/
    box-shadow: 0px 0px 0px #f2f2f2;
}

nav .nav-right-section a{
    color: rgb(21, 21, 21);
    margin-right: 20px;

}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
   /* modifica al tamaño del contenedor*/
    background-size: contain;
    /*se utliza para eliminar la repetición de un elemento*/
    background-repeat: no-repeat;
}

nav .nav-right-section img{
    /*Redondear bordes*/
    border-radius: 100px;
    /* margen izquierdo*/
    margin-left: 20px;
    width: 35px;
}

/**********************************************/
/****************************************/
/********************************/
/* Main */
main{
    margin-top: 150px;
    text-align: center;
}

main .main-logo{
    width: 670px;
    /*setea 0 al margen de arriva y abajo-- auto (setea en automatico borde de izquierda y derecha)*/
    margin: 0 auto;
    margin-bottom: 40px;
}

/*logo*/
main .main-logo img{
    height: 220px;
    display: flex;
    align-content: center;
    align-items: center;
}

/*sección input*/
main .main-input{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 520px;
    margin: 0 auto;
    /*separación entre buscador y buttons*/
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

/*caja con bordes redondeados*/
main .main-input-container{
    /*borde y pide 3 valores- anchura de linea, estilo y color*/
   /* style: dotted, solid, inset*/
    border: 1px solid #000;
    /* bordes redondos*/
    border-radius: 20px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*cajita de input*/
main .main-input input{
    height: 45px;
    border: none;
    /* outline- borse cuando seleccionas elemento*/
    outline: none;
    width: 420px;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    height: 17px;
    width: 17px;
    background-size: contain;
    background-position: center;
    padding-left: 1%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    padding-right: 5%;
}

main .main-buttons{
    width: 650px;
    /* vertical-horizontal*/
    margin: 0 auto;
}

main .main-buttons div{
    /*inline block: que esten en la misma linea*/
    display: inline-block;
}

main .main-buttons button{
    background-color: #f2f2f2;
    border: none;
    height: 40px;
    font-size: 16px;
    color: #3c4043;
    padding: 0 15px;
    border-radius: 4px;
    margin-right: 10px;
}

/*efecto de sombra al pasar mause*/
main .main-input-container:hover{
    box-shadow: 4px 4px 4px #ce09ceec; 
}

main .main-buttons button:hover{
    color: #202124;
    border: 1px solid #dadce0be;
    box-shadow: 4px 4px 4px #ce09ceec;
}

/**********************************************/
/****************************************/
/********************************/
/* FOOTER */


footer{
    width: 100%;
    background-color: #a36ba3c9;
}

footer .footer-left{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px Solid #a36ba3;
    border: 1px; outline-style: none;
    font-size: 22px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 300px;
    list-style: none;
    
}

a{
  cursor: grabbing;
  text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer .footer-right{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #a36ba3;
    border: 1px; outline-style: none;
    font-size: 22px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 500px;
    list-style: none;
    line-height: 24px;
  
}

